html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
  background-image: linear-gradient(to top, #efefef, rgba(69, 90, 100, 0.382));
  background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 4vh;
}

.container{
  width: 100%;
  text-align: center
}
.abutton {
  cursor: pointer;
  position:relative;
  width: auto;
  display:inline-block;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #bdc3c7;
  background:#95a5a6;
  text-align:center;
  margin: 8px;
  outline: none;
  height: 26px;
  
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  
  -webkit-box-shadow: 0px 3px 0px #7f8c8d;
  -moz-box-shadow: 0px 3px 0px #7f8c8d;
  box-shadow: 0px 3px 0px #7f8c8d;
  
  span {
    margin-top: 0.3em;
    display: inline-block;
    vertical-align: top;
    padding: 0.1em;
    height: 16px;
  }
}
